button {
  transition: height, transform 2s, width 0.3s linear;
  background: url(transform.png);
  background: url("transform.png");
  background: "transform";
  background: " transform ";
  background: "foo-transform-bar";
}

@media screen {
  button {
    transition: transform 1s
  }
}
